{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Inscription</title>
        <!-- ... Autres balises head ... -->
    </head>
    <body>
    <form action="{{ path('app_signup') }}" method="post" class="form-container" enctype="multipart/form-data">
        {{ form_start(form) }}

        <h2>Inscription</h2>

        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.motdepasse) }}
        {{ form_row(form.role) }}
        {{ form_row(form.sexe) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.numerotelephone) }}

        {{ form_row(form.profileImageFile) }}

        <input type="submit" value="S'inscrire">

        <div style="position: fixed; top: 20px; right: 20px;">
            <a href="{{ path('app_signin') }}" style="background-color: green; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Signin</a>
        </div>

        {{ form_end(form) }}

        {% for message in app.flashes('error') %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    </form>
    </body>
    </html>
{% endblock %}
