{% extends 'base2.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Numerotelephone</th>
                <th>Role</th>
                <th>Ville</th>
                <th>Sexe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.numerotelephone }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.sexe }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_admin_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_new') }}">Create new</a>
{% endblock %}
