{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div style="max-width: 400px; margin: auto; margin-top: 50px;">
        <h2 style="text-align: center; margin-bottom: 30px;">Login</h2>

        <form method="post">
            {% if error %}
                <div style="color: red; margin-bottom: 10px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div style="margin-bottom: 15px;">
                <label for="inputEmail" style="display: block; margin-bottom: 5px;">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" style="width: 100%;" autocomplete="email" required autofocus>
            </div>

            <div style="margin-bottom: 20px;">
                <label for="inputPassword" style="display: block; margin-bottom: 5px;">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" style="width: 100%;" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button style="width: 100%; padding: 10px; background-color: #4caf50; color: white; border: none; cursor: pointer;" type="submit">
                Sign in
            </button>
        </form>

        <p style="text-align: center; margin-top: 20px;">Don't have an account? <a href="{{ path('app_register') }}">Sign up</a></p>
        <!-- Ajouter le lien "Mot de passe oublié" ici -->
        <p style="text-align: center; margin-top: 20px;">You forget your Password? <a href="{{ path('app_mail') }}">reset Password?</a></p>

    </div>
{% endblock %}
