{% extends 'base.html.twig' %}

{% block title %}Parc index{% endblock %}

{% block body %}
    <h1>Parc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idparc</th>
                <th>Nomparc</th>
                <th>Adresseparc</th>
                <th>Superficieparc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parc in parcs %}
            <tr>
                <td>{{ parc.idparc }}</td>
                <td>{{ parc.nomparc }}</td>
                <td>{{ parc.adresseparc }}</td>
                <td>{{ parc.superficieparc }}</td>
                <td>
                    <a href="{{ path('app_parc_show', {'idparc': parc.idparc}) }}">show</a>
                    <a href="{{ path('app_parc_edit', {'idparc': parc.idparc}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parc_new') }}">Create new</a>
{% endblock %}
