{% extends 'base.html.twig' %}

{% block title %}Parc{% endblock %}

{% block body %}
    <h1>Parc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idparc</th>
                <td>{{ parc.idparc }}</td>
            </tr>
            <tr>
                <th>Nomparc</th>
                <td>{{ parc.nomparc }}</td>
            </tr>
            <tr>
                <th>Adresseparc</th>
                <td>{{ parc.adresseparc }}</td>
            </tr>
            <tr>
                <th>Superficieparc</th>
                <td>{{ parc.superficieparc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_parc_index') }}">back to list</a>

    <a href="{{ path('app_parc_edit', {'idparc': parc.idparc}) }}">edit</a>

    {{ include('parc/_delete_form.html.twig') }}
{% endblock %}
