{{ form_start(form) }}

<div class="mb-3">
    {{ form_row(form.typeres, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_row(form.speciesres, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_row(form.quantiteres, {'attr': {'class': 'form-control'}}) }}
</div>

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}
