{% extends 'base.html.twig' %}

{% block title %}Materiel index{% endblock %}

{% block body %}
    <h1>Materiel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idmat</th>
                <th>Nommat</th>
                <th>Etatmat</th>
                <th>Quantitemat</th>
                <th>Dateajout</th>
                <th>Nomparc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.idmat }}</td>
                <td>{{ materiel.nommat }}</td>
                <td>{{ materiel.etatmat }}</td>
                <td>{{ materiel.quantitemat }}</td>
                <td>{{ materiel.dateajout ? materiel.dateajout|date('Y-m-d') : '' }}</td>
                <td>{{ materiel.nomparc }}</td>
                <td>
                    <a href="{{ path('app_materiel_show', {'idmat': materiel.idmat}) }}">show</a>
                    <a href="{{ path('app_materiel_edit', {'idmat': materiel.idmat}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_materiel_new') }}">Create new</a>
{% endblock %}
