{% extends 'back.html.twig' %}

{% block body %}
<br>
<br>
<body>
    <div style="margin: 20px; background-color: white; color: #C9D1D9; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        <h1 style="color: #3D3635;">Catégories de transaction</h1>
        <br>
        <table class="table" style="border-collapse: collapse; width: 100%; margin-bottom: 20px; color: black;">
            <thead>
                <tr style="background-color: #3D3635; color: white;">
                    <th>IdCatTra</th>
                    <th>NomCatTra</th>
                    <th>DescripCatTra</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for categtran in categtrans %}
                <tr style="border-bottom: 1px solid #ddd;">
                    <td>{{ categtran.idCatTra }}</td>
                    <td>{{ categtran.nomCatTra }}</td>
                    <td>{{ categtran.descripCatTra }}</td>
                    <td>
                        <button style="background-color: #2B65EC; color: white; border: none; border-radius: 5px; padding: 8px 12px; margin-right: 5px;" onclick="window.location.href='{{ path('app_backcateg_show', {'idCatTra': categtran.idCatTra}) }}'">Afficher</button>
                        <button style="background-color: #1AA260; color: white; border: none; border-radius: 5px; padding: 8px 12px;" onclick="window.location.href='{{ path('app_backcateg_edit', {'idCatTra': categtran.idCatTra}) }}'">Modifier</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" style="text-align: center;">Aucun enregistrement trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <button style="background-color: #3D3635; color: white; border: none; border-radius: 5px; padding: 10px 15px;" onclick="window.location.href='{{ path('app_backcateg_new') }}'">Ajouter</button>
    </div>
<table>
{% endblock %}