{{ form_start(form) }}

<div class="mb-3">
    {{ form_row(form.objetact, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_row(form.descriptionact, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_row(form.distact, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_row(form.emaildist, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_row(form.speciesres, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_row(form.etatact, {'attr': {'class': 'form-control'}}) }}
</div>

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}
