{% extends 'base.html.twig' %}

{% block title %}Activité index{% endblock %}

{% block contenu %}
    <h1>Activité index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Idact</th>
            <th>Objet de l'activité</th>
            <th>Description de l'activité</th>
            <th>Distance de l'activité</th>
            <th>Email du distributeur</th>
            <th>Espèce de ressource</th>
            <th>État de l'activité</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td>{{ activite.idact }}</td>
                <td>{{ activite.objetact }}</td>
                <td>{{ activite.descriptionact }}</td>
                <td>{{ activite.distact }}</td>
                <td>{{ activite.emaildist }}</td>
                <td>{{ activite.speciesres }}</td>
                <td>{{ activite.etatact }}</td>
                <td>
                    <a href="{{ path('app_activite_show', {'idact': activite.idact}) }}">show</a>
                    <a href="{{ path('app_activite_edit', {'idact': activite.idact}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No activities found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_activite_new') }}">Create new activity</a>
{% endblock %}
