{% extends 'back.html.twig' %}




{% block body %}
<br>
<br>
<body>
    <div style="margin: 20px; background-color: white; color: #C9D1D9; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
        <h1 style="color: #3D3635;">Transactions</h1>
        <br>
        <table class="table" style="border-collapse: collapse; width: 100%; margin-bottom: 20px; color: black;">
            <thead>
                <tr style="background-color: #3D3635; color: white;">
                    <th>ID Transaction</th>
                    <th>Catégorie Transaction</th>
                    <th>Type Transaction</th>
                    <th>Date Transaction</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
            <tr style="border-bottom: 1px solid #ddd;">
                    <td>{{ transaction.idTra }}</td>
                    <td>{{ transaction.categTra }}</td>
                    <td>{{ transaction.typeTra }}</td>
                    <td>{{ transaction.dateTra ? transaction.dateTra|date('Y-m-d') : '' }}</td>
                    <td>{{ transaction.montant }}</td>
                    <td>
                        <button style="background-color: #2B65EC; color: white; border: none; border-radius: 5px; padding: 8px 12px; margin-right: 5px;" onclick="window.location.href='{{ path('app_backtransac_show', {'idTra': transaction.idTra}) }}'">Afficher</button>
                        <button style="background-color: #1AA260; color: white; border: none; border-radius: 5px; padding: 8px 12px;" onclick="window.location.href='{{ path('app_backtransac_edit', {'idTra': transaction.idTra}) }}'">Modifier</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" style="text-align: center;">Aucun enregistrement trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <button style="background-color: #3D3635; color: white; border: none; border-radius: 5px; padding: 10px 15px;" onclick="window.location.href='{{ path('app_backtransac_new') }}'">Ajouter</button>
        
    </div>
</body>
{% endblock %}
